/* Keyframes for the moving animation */
@keyframes moveText {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px); /* Adjust the distance the text moves */
  }
  100% {
    transform: translateX(0);
  }
}

/* Apply the animation to the text */
.moving-text {
  animation: moveText 3s ease infinite; /* Adjust the animation duration (2s) and style as needed */
}




.j-fullwidth-banner-container {
  background-color: #f9f9f9;
  display: flex;
  align-items: center; /* Vertically center align content */
  justify-content: center; /* Horizontally center align content */
  background-image: url('https://img.freepik.com/premium-photo/black-abstract-futuristic-technological-background-with-red-glowing-light_1053-13671.jpg?w=900');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 400px;
  background-position: center bottom;
  border-radius: 20px;
  margin: 45px;
}

.j-contentBlock {
  max-width: 50%;
}

.j-contentBlock__body {
  padding: 20px;
}

.j-contentBlock__title {
  font-size: 50px;
}

.j-contentBlock__description {
  font-size: 24px;
}

.j-button-group {
  display: inline-flex;
}


/* ----------------------------------------card corousel---------------------------------------*/


.card {
  height: 600px;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: rgb(246, 238, 235);
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.item img{
  width:95%;
  height:60%;
  border-radius: 10px;
}
div.item:nth-of-type(1) {
  --offset: 1;
  background-color: white;
}
div.item:nth-of-type(2) {
  --offset: 2;
  background-color: white;
}
div.item:nth-of-type(3) {
  --offset: 3;
  background-color: white;
}
div.item:nth-of-type(4) {
  --offset: 4;
  background-color: white;
}
div.item:nth-of-type(5) {
  --offset: 5;
  background-color: white;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}


h2{
  align-items: center;
  text-align: center;
  font-family:'Playfair Display', serif;
  font-size: 40px;
  font-weight: bolder;
}
h3{
  align-items: center;
  text-align: center;
  font-family:'Playfair Display', serif;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}



