

<!-- <form (ngSubmit)="onLoginSuccess()">
    <button type="submit" class="btn btn-primary">Login</button>
</form> -->
<br><br><br>
<body>
  
<div class="login-box" style="margin-top: 35px;">
  <h2>Login</h2>
   <div style="color: crimson;"> {{msg}} </div><br>
    <form (ngSubmit)="onLoginSuccess()">
      <div class="user-box">
        <input type="text" [(ngModel)]='username' name="username">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" [(ngModel)]='password' name="password">
        <label>Password</label>
      </div>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <button style="color:#fff;" class="btn transparent-button">Login</button>
      </a>
    </form>
  </div> 
</body>  