
<br><br><br>
<div class="slider">
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
<br><br>
</div>

    <div class="boxes2">
      <h2>PROTEL USER FEATURES</h2>
      <table>
      <tr>
      <td align="center">
      <a class="pic1 herotile hero_overlay">
        <div class="btn" routerLink="/makecall">MAKE CALL &rarr;</div>
      </a>
      </td>
      <td align="center">
      <a class="pic2 herotile hero_overlay">
        <div class="btn" routerLink="/viewhistory">VIEW HISTORY &rarr;</div>
      </a>
      </td>
      
      </tr>
      
      </table>
      </div>
      
      <br><br><br>
      <div class="centerbtnblock"><br>
        <h2>HERE'S WHY INDIA PREFERS PROTEL</h2>
        <h3>We Provide The Following To Our Customers</h3>  
      <table>
      <tr>
      <td align="center">
      <a><div class="culture box1 btn_overlay graybkg">
        <div class="box1text">The Real 5G</div>
      </div></a>
      </td>
      <td align="center">
      <a ><div class="wins box1 btn_overlay graybkg">
        <div class="box1text">Plans For All</div>
      </div></a>
      </td>
      <td align="center">
      <a id="myBtn"> <div class="box1 learning btn_overlay graybkg">
        <div class="box1text">OTTs And Entertainment</div>
      </div></a>
      </td>
      <td align="center">
      <a><div class="box1 comms btn_overlay graybkg">
           <div class="box1text">Best Communications</div>
      </div></a>
      </td>
      </tr>
      <tr>
      <td align="center">
      <a ><div class="box1 events btn_overlay graybkg">
        <div class="box1text">Rewards</div>
      </div></a>
      </td>
      <td align="center">
      <a ><div class="box1 orgcharts btn_overlay graybkg">
          <div class="box1text">Easy Recharge</div>
      </div></a>
      </td>
      <td align="center">
      <a > <div class="box1 blog btn_overlay graybkg">
            <div class="box1text">Easy Payment</div>
      </div></a>
      </td>
      <td align="center">
      <a> <div class="box1 erg btn_overlay graybkg">
        <div class="box1text">Fast And Reliable</div>
      </div></a>
      </td>
      </tr>
      </table>
      </div>

