
<div *ngIf="session.islogined()">
<br><br><br>
<div class="j-fullwidth-banner-container">
    <div class="j-contentBlock j-contentBlock__size-m">
      <div class="j-contentBlock__body">
        <div class="j-contentBlock__content">
          <h3 class="j-contentBlock__title">Realise your ambitions with ProTel</h3>
          <div class="j-contentBlock__description">
            <p>Re-defining digital life with ProTel</p>
            <p>To navigate to home,click the below button</p>
          </div>
          <div class="j-button-group">
            <button class="j-button primary" routerLink="/home">Click Here</button>
          </div>
        </div>
      </div>
    </div>
</div>


<br><br><br>


<div class="boxes2">
    <h2>PROTEL ADMIN FEATURES</h2>
    <table>
    <tr>
    <td align="center">
    <a class="pic1 herotile hero_overlay">
      <!-- <div class="heroheadline">To Call</div>
      <div class="herocaption">Click the below button</div> -->
      <div class="btn" routerLink="/view">ABOUT CDR &rarr;</div>
    </a>
    </td>
    <td align="center">
    <a class="pic2 herotile hero_overlay">
     <!-- <div class="heroheadline">To see history</div>
        <div class="herocaption">Click the below button</div> -->
      <div class="btn" routerLink="/cdrs">VIEW CDR &rarr;</div>
    </a>
    </td>
    
    </tr>
    
    </table>
    </div>



 

    <div class="name"> <br><br><br>
    <h2>OUR POLICIES TO BE REMEMBERED</h2>
    </div>
    <div class="container">
        <div class="box" data-color="clr1">
            <div class="imgBx">
                <img src="https://img.freepik.com/premium-photo/customer-holding-tablet-touching-tick-sign-virtual-smiley-face-client-evaluate-after-use-product-service-concept_50039-3114.jpg?size=626&ext=jpg&ga=GA1.2.148941189.1696566044&semt=ais" alt="">
                <div class="glass">
                    <h3>CUSTOMER SATISFACTION<br></h3>
                    <ul>
                        <a href="#" style="--i:1;"></a>
                        <a href="#" style="--i:2;"></a>
                        <a href="#" style="--i:3;"></a>
                    </ul>
                </div>
            </div>
        </div>
    
        <div class="box" data-color="clr2">
            <div class="imgBx">
                <img src="https://img.freepik.com/free-vector/dynamic-red-motion-lines-wallpaper-design_1017-33889.jpg?w=1060&t=st=1696772511~exp=1696773111~hmac=de7172d9b164eecb42c4a48be6fab8292f52669ecb91ecfaf19aef6be3623bb2" alt="">
                
                <div class="glass">
                    <h3>SPEED<br></h3>
                    <ul>
                        <a href="#" style="--i:1;"></a>
                        <a href="#" style="--i:2;"></a>
                        <a href="#" style="--i:300;"></a>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="box" data-color="clr4">
            <div class="imgBx">
                <img src="https://img.freepik.com/free-photo/metallic-chain-locked-with-rusty-padlock-symbolizes-security-generated-by-ai_188544-20008.jpg?t=st=1696772115~exp=1696775715~hmac=4cdf7d34d3aa4d84790ec0e61b03c840c96155b4a5a6cbca403a8b846a743429&w=1060" alt="">
                <div class="glass">
                    <h3>SECURITY<br></h3>
                    <ul>
                        <a href="#" style="--i:1;"></a>
                        <a href="#" style="--i:2;"></a>
                        <a href="#" style="--i:3;"></a>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="box" data-color="clr3">
            <div class="imgBx">
                <img src="https://img.freepik.com/premium-photo/group-people-network-concept_993599-7208.jpg?size=626&ext=jpg&ga=GA1.2.148941189.1696566044&semt=ais" alt="">
                <div class="glass">
                    <h3>CONNECTEDNESS<br></h3>
                    <ul>
                        <a href="#" style="--i:1;"></a>
                        <a href="#" style="--i:2;"></a>
                        <a href="#" style="--i:3;"></a>
                    </ul>
                </div>
            </div>
        </div>
    
        

        <div class="box" data-color="clr4">
            <div class="imgBx">
                <img src="https://img.freepik.com/free-photo/man-using-laptop-computer-home-indoors-night_171337-16939.jpg?w=900&t=st=1696771884~exp=1696772484~hmac=c5e0a237e10903bebce4c037657abef0d775eb8154b0d05e8e8735658c759bba" alt="">
                <div class="glass">
                    <h3>EASY TO USE<br></h3>
                    <ul>
                        <a href="#" style="--i:1;"></a>
                        <a href="#" style="--i:2;"></a>
                        <a href="#" style="--i:3;"></a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="box" data-color="clr4">
            <div class="imgBx">
                <img src="https://img.freepik.com/free-photo/first-place-medal-with-red-ribbon_23-2148930702.jpg?w=900&t=st=1696772365~exp=1696772965~hmac=71f7034d1fc4ad901fcf6ccf7ba599d5bee3b63a8581fa678d6cb754510ccec7" alt="">
                <div class="glass">
                    <h3>BEST IN QUALITY<br></h3>
                    <ul>
                        <a href="#" style="--i:1;"></a>
                        <a href="#" style="--i:2;"></a>
                        <a href="#" style="--i:3;"></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>    
</div>

<div *ngIf="!session.islogined()">
    {{goToHome()}}
</div>



